<h1>Log In</h1>
<%= form_for :session, url: login_path do |f| %>

<div class="field">
  <%= f.label :email_address %><br/>
  <%= f.text_field :email_address %>
</div>

<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password_digest %>
</div>

<%= f.submit 'Log in'%>
<% end %>
