<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-start">ADMINISTRATOR: <%= current_user.name %></div>
  <div class="navbar-end"><%= link_to "Log Out", logout_path, class: "navbar-item"%></div>
</nav>
</br>
<nav class="level">
  <div class="level-item has-text-centered">
    <div id='total_users'>
      <p class="heading">Total Number of Users</p>
      <p class="title"><%= @users.total_count %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div id='total_locations'>
      <p class="heading">Total Number of Locations</p>
      <p class="title"><%= @locations.total_count %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Favorite Location</p>
      <p class="title"><%= @most_favorite %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><h1>Last User Registered On</h1></p>
      <p class="title"><%= @users.newest_user_created_at.to_date %></p>
    </div>
  </div>
</nav>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">All Users</p>
          <hr>
          <div class="field">
            <% @users.each do |user| %>
            <div id='user-<%= user.id %>'>
              <% if user.role != 'admin' %>
              <%= user.email_address %>
              <class="control"><%= button_to 'Delete', user_path(user), method: :delete, class: "button is-small is-inverted is-outlined is-primary", data:{confirm: "Are you sure you want to delete user?"} %></br>
              <% end %>
            </div>
            <% end %>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">All Locations</p>
          <hr>
          <div class="content">
          <% @locations.each do |location| %>
          <div id='location-<%= location.id %>'>
            <%= location.nick_name %>, <%= location.state %>
            <class="control"><%= button_to 'Delete', location_path(location), method: :delete, class: "button is-small is-inverted is-outlined is-danger", data:{confirm: "Are you sure you want to delete location?"} %></br>
          </div>
          <% end %>
          </div>
        </article>
      </div>
      <div class="tile is-parent ">
        <article class="tile is-child notification is-info">
          <p class="title">Favorite Locations</p>
          <hr>
          <div class="content">
          <% @favorites.each do |location_id, count| %>
          <%= "#{location_id}- #{pluralize(count, 'user')}" %></br>
          <% end %>
        </div>
      </div>
    </article>
</div>
