<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css.scss"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <h1>Welcome <%= @user.name%>!</h1>
      </div>
      <div class="navbar-end">
        <%= link_to "Home", user_path(@user), class: "navbar-item"%>
        <%= link_to "Edit Account", edit_user_path(@user), class: "navbar-item"%>
        <%= link_to "Log Out", logout_path, class: "navbar-item"%>
      </div>
    </nav>
  <body>
    <%= form_for @user do |f| %>

      <%= f.label :high_pref %>
      <%= f.number_field :high_pref%>

      <%= f.label :low_pref %>
      <%= f.number_field :low_pref %>

      <%= f.submit 'Submit'%>
      <% end %>

      <h3>Today's Options:</h3>
      <%= @locations.temp_match(@user).each do |location| %>
        <%= location.nick_name %>
        <%= location.state %>
        <%= location.low_temp %>
        <%= location.high_temp %>
      <% end %>
  <body>
<html>
