<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <%= link_to "Home", user_path(@user), class: "navbar-item"%>
    <%= link_to "Edit Account", edit_user_path(@user), class: "navbar-item"%>
    <%= link_to "Log Out", logout_path, class: "navbar-item"%>
  </div>
</nav>
</br>
<nav class="level">
  <div class="level-item has-text-centered">
    <img src="https://cl.ly/sxY3/[068ef12cf60169ce2cb3d385726e8b48]_Screen%20Shot%202018-07-12%20at%207.24.41%20PM.jpg", alt="yonder logo", style="height: 300px;">
  </div>
</nav>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Temperature Preference</p>
          <hr>
          <%= form_for @user do |f| %>
          <div class="field">
            <div class="control">
              <%= f.label :Low %>
              <%= f.number_field :low_pref, class: "input is-medium is-grey" %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.label :high %>
              <%= f.number_field :high_pref, class: "input is-medium is-grey" %>
            </div>
          </div>
          <div class="field">
            <p class="control"><%= f.submit 'Find Locations', class: "button is-white is-outlined"%></p>
          </div>
          <% end %>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title"><%=@user.name.capitalize%>'s Favorite Spots</p>
          <hr>
          <div class="content">
            <% @locations.each do |location| %>
              <div id='favorite_spot-<%= location.id %>'>
                <p><% if location.users.include? @user %>
                  <%= location.nick_name %>, <%= location.state %>, <%= location.low_temp %>, <%= location.high_temp %>
                  <%= link_to '<i class="fa fa-heart fa-1x"></i>'.html_safe, remove_favorite_location_path(location), method: :delete %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
        </article>
      </div>
      <div class="tile is-parent ">
        <article class="tile is-child notification is-info">
          <p class="title">Today's Options</p>
          <hr>
          <div class="content">
            <% if @user.preferences_valid? %>
              <p><% @locations.temp_match(@user).each do |location| %>
                <div id='today_option-<%= location.id %>'>
                <%= location.nick_name %>, <%= location.state %>, <%= location.low_temp %>, <%= location.high_temp %>
                <% unless location.users.include? @user %>
                <%= link_to '<i class="fa fa-heart fa-1x"></i>'.html_safe, add_favorite_location_path(location), method: :post %>
                </div>
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
  </article>
</div>
